@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Karmr</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @Styles.Render("~/Content/css")
</head>
<body class="single-page @ViewBag.BodyClass">
    <header class="site-header">
        <div class="top-header-bar">
            <div class="container">
                <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-lg-center">
                    <div class="col-12 col-lg-4 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                        <div class="header-bar-email">
                            MAIL: <a href="#">contact@ourcharity.com</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-8 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                        <div class="donate-btn">
                            @if (Request.IsAuthenticated)
                            {
                                <a href="@Url.Action("Index", "Account")">My Account</a>
                                using (Html.BeginForm("SignOut", "Account", FormMethod.Post, new { id = "signOutForm", style = "display: inline;" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('signOutForm').submit()">Sign Out</a>
                                }
                            }
                            else
                            {
                                <a href="@Url.Action("SignIn", "Account")">Sign In / Register</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                        <div class="site-branding d-flex align-items-center">
                            <a class="d-block" href="index.html" rel="home"><img class="d-block" src="/Content/images/logo.png" alt="logo"></a>
                        </div>
                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                <li class="current-menu-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                                <li><a href="@Url.Action("Create", "Listing")">Ask for Help</a></li>
                                <li><a href="@Url.Action("Index", "Listing")">Offer Help</a></li>
                                <li><a href="@Url.Action("About", "Home")">About Us</a></li>
                                <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                            </ul>
                        </nav>
                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer class="site-footer">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="foot-about">
                            <h2><a class="foot-logo" href="#"><img src="/Content/images/foot-logo.png" alt=""></a></h2>
                            <p>Karma means action. So things change through action not by prayer... not by wish.</p>
                            <p>Dalai Lama</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <h2>Useful Links</h2>
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Become  a Volunteer</a></li>
                            <li><a href="#">Donate</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Causes</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">News</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <div class="foot-contact">
                            <h2>Contact</h2>
                            <ul>
                                <li><i class="fa fa-phone"></i><span>+45 677 8993000 223</span></li>
                                <li><i class="fa fa-envelope"></i><span>office@template.com</span></li>
                                <li><i class="fa fa-map-marker"></i><span>Main Str. no 45-46, b3, 56832, Los Angeles, CA</span></li>
                            </ul>
                        </div>
                        <div class="subscribe-form">
                            <form class="d-flex flex-wrap align-items-center">
                                <input type="email" placeholder="Your email">
                                <input type="submit" value="send">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="m-0">
                            Copyright &copy;
                            @DateTime.Now.Year All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>