@model Karmr.WebUI.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    ViewBag.BodyClass = "about-page";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Register</h1>
            </div>
        </div>
    </div>
</div>

<div class="contact-page-wrap">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="entry-content">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "contact-form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h2>Create a new account</h2>
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email)
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password)
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword)
                        <span><input class="btn gradient-bg" type="submit" value="Register"></span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}